.about-me-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0;
        opacity: 5;
        transform: translateY(1px);
}
.about-me-container .about-me-parent{
        max-width: 1000px;
        width: 70%;
}
.about-me-container .about-me-parent .heading-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 0 50px;
}
.heading-container .screen-heading span{
        font-size: 32px;
        color: #1f2235;
        font-family: "Poppins Bold";
}

.heading-container .screen-heading-Dark span{
        font-size: 32px;
        color: var(--white);
        font-family: "Poppins Bold";
}

.heading-container .screen-sub-heading span{
        letter-spacing: 3px;
        margin: 8px 0 10px;
        font-size: 12px;
        color: var(--black);
}
.heading-container .screen-sub-heading-Dark span{
        letter-spacing: 3px;
        margin: 8px 0 10px;
        font-size: 12px;
        color: var(--white);
}
.heading-container .heading-seperator{
        display: flex;
        align-items: center;
        position: relative;
        width: 180px;
        margin: 10px 0 0;
}
.heading-container .heading-seperator .seperator-line{
        width: 100%;
        height: 2px;
        background-color: #1f221f;
}

.heading-container .heading-seperator .seperator-line-Dark{
        width: 100%;
        height: 2px;
        background-color: var(--white);
}
.heading-container .heading-seperator .seperator-blob{
        height: 10px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
}
.heading-container .heading-seperator .seperator-blob-Dark{
        height: 10px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
}
.heading-container .heading-seperator .seperator-blob div{
        width: 35px;
        border-radius: 10px;
        background-color: var(--dark-orange);
}

.heading-container .heading-seperator .seperator-blob-Dark div{
        width: 35px;
        border-radius: 10px;
        background-color: var(--DarkTextColor);
}
.about-me-card{
        display: flex;
        width: 100%;
        box-shadow: 0 0 20px -2px #1f2235;
}
.about-me-card-Dark{
        display: flex;
        width: 100%;
        border: 2px solid var(--DarkBorderSolid);
}
.about-me-profile {
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
}
.about-me-profile-Dark {
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        border: 1px solid var(--DarkBorderSolid);
}
.about-me-profile img{
        width:100%;
        height: 630px;
}
.about-me-profile-Dark img{
        width:100%;
        height: 630px;
}
.about-me-details{
        width: 48%;
        text-align: justify;
        padding: 30px;
}
.active{
        color: var(--white)
}
.about-me-details .about-me-description{
        font-size: 12px;
}
.about-me-highlights{
        margin: 80px 0;
}
.about-me-highlights .highlight{
        display: flex;
        align-items: center;
        margin: 5px 0;
        font-size: 12px;
}
.about-me-highlights .highlight .highlight-blob{
        height: 12px;
        width: 12px;
        margin: 0 10px 0 0;
        background-color: #D13400;
        border-radius: 50%;
}
.highlight-blob-Dark{
        height: 12px;
        width: 12px;
        margin: 0 10px 0 0;
        background-color: var(--DarkTextColor);
        border-radius: 50%;
}

@media screen and (max-width: 898px){
        .about-me-profile{
                display: none;
        } 
        .about-me-profile-Dark{
                display: none;
        }     
        .about-me-details{
                width: 100%;
        }
}
@media screen and (max-width: 440px){
        .about-me-details .about-me-description{
                font-size: 12px;
        }
        .about-me-details {
                padding: 20px;
        }
        .about-me-container .about-me-parent {
                width: 90%;
        }
        .about-me-highlights .highlight{
                font-size: 9px;
        }
        .about-me-highlights .highlight-heading{
                font-size: 12px;
        }
        .about-me-options{
                display: flex;
                flex-direction: column;
        }
        .about-me-options button{
                width: 100%;
        }
}