.navbar{
        position: relative;
        padding:50px 0;
        display: flex;
        justify-content:center;
        align-items:center;
        width: 100%;
        box-sizing: border-box;
}
.navbar a{
        color: #fff;
        font-family: "Poppins SemiBold";
        font-size: 1.3rem;
}
.navbar .nav-links{
        z-index: 2;
}
.navbar .nav-links ul{
        text-decoration: none;
        list-style: none;
        margin:0;
        padding: 0;
        display: flex;
}
.navbar .nav-links ul li{
        margin:0 35px;
}
.GlobalImg{
        width: 18%;
        background: white;
        border-radius: 50%;
}
.dropdown {
        margin: 0 0 0 -50px;
}
.dropdown .btn{
        padding: 0;
}
.dropdown img{
        width: 30px;
        height:30px;
}
.dropdown-toggle::after {
        color: white;
}
.flagIcon{
        width: 25%;
}
.dropdown-item{
        display: flex;
        justify-content: space-between;
}
.navbar .nav-links ul li.active a{
        color: #ed3c57;
        font-weight: 600;
}
.navbar .nav-links ul li.active .Dark a{
        color: var(--DarkTextColor);
        font-weight: 600;
}
.navbar .nav-links-PC ul{
        text-decoration: none;
        list-style: none;
        margin:0;
        padding: 0;
        display: flex;
}
.navbar .nav-links-PC ul li{
        margin:0 35px;
}
.navbar .nav-links-PC ul li.active a{
        color: #ed3c57;
        font-weight: 600;
}

.navbar .nav-links-PC ul li.active .Dark a{
        color: var(--DarkTextColor);
        font-weight: 600;
}

.ChooseTeam{
        margin: -10px 0 0 -85px;
}
.ChooseTeam .ligthImag{
        position: relative;
        margin-top: -90%;
        margin-left: -25%;
        margin-right: 25%;
}

.navbar .menu-hamburger {
 display: none;       
 position: absolute;
 top: 50px;
 right: 50px;
 width: 35px;
 height: 35px;
}

.navbar .menu-hamburger-close{ 
        position: absolute;
        top: 50px;
        right: 50px;
        width: 35px;
        height: 35px;
        z-index: 2;
}

@media screen and (max-width: 811px){
        .navbar{
                padding: 0;
        }
        .navbar .menu-hamburger {
                display:block;
        }
        .navbar .nav-links-PC{
                display:none;
        }
        .nav-links{
                top: 0;
                left: 0;
                position: absolute;
                background-color: rgba(13, 13, 13, 0.842);
                backdrop-filter: blur(8px);
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content:center;
                align-items:center;
        }
        .nav-links ul{
                display: flex;
                flex-direction: column;
                align-items:center;
        }
        .navbar .nav-links ul li {
                margin: 25px 0;
                font-size:1.2em;
        }
        .dropdown_style{
                margin: 0;
        }
        .dropdown {
                margin: 0 0 0 0px;
        }
        .ChooseTeam{
                margin: 0px 0 0 0px;
        }
        .ChooseTeam .ligthImag{
                position: relative;
                margin-top: -130%;
                margin-right: 25%;
        }
}
@media screen and (max-width: 920px){
        .navbar .nav-links-PC ul li {
                margin: 0 21px;
        }
}