.resume-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 120px 0;
}
.heading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 50px;   
}
.heading-container .screen-heading{
  font-size: 32px;
  color: #1f2235;
  font-family: "Poppins Bold"; 
}
.heading-container .screen-sub-heading{
  letter-spacing: 3px;
  margin: 8px 0 10px;
  font-size: 12px;
  color: var(--black);
}
.resume-content .resume-card{
  display: flex;
  height: 360px;
  width: 1000px;
}
.resume-card .resume-bullets{
  box-shadow: 15px 0 9px -15px #1f2235;
  height: 100%;
  width: 320px;
}

.resume-bullet-details {
  flex-grow: 1;
  width: 600px;
  overflow: hidden;
  padding: 0 0 0 80px;
}
.experience-description {
  margin: 10px 0 0 0;
  text-align: justify;
}
.resume-card .resume-bullets .bullet-container{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.resume-card .resume-bullets .bullet-container .bullet-icons{
  width: 34px;
  height: 100%;
  z-index: 1;
  background-color: #1f2235;
  position: absolute;
}
.resume-card .resume-bullets .bullet-container .bullets{
  width: 86%;
  position: relative;
  z-index: 2;
}
.bullets .bullet{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #1f2235;
  height: 40px;
  margin: 15px 0;
  padding: 0 8px;
  border-radius: 20px;
  width: 30px;
  transition: width .6s ease;
}
.bullets .bullet img{
  width: 35px;
  height: 35px;
}
.selected{
  animation: phone 1s ease-in-out  infinite;
  animation-iteration-count: 2;
  color: #D13400;
}
@keyframes phone {
  0%,30%,60%,90%, 100% {
   transform: translateX(-21deg);
  }
  50% {
   transform: rotate(21deg);
  }
 }

.selected-bullet-contact{
  display: none;
}

.bullets .bullet .bullet-logo{
  height: 18px;
  margin: 0 30px 0 0;
}
.bullets .bullet .fa-bullet-logo{
  height: 18px;
  margin: 0 0 0 30px;
}
.bullets .bullet .bullet-label{
  font-size: 14px;
  white-space: nowrap;
  font-family: "Poppins SemiBold";
}
.resume-bullet-details{
  flex-grow: 1;
  width: 600px;
  overflow: hidden;
  padding: 0 0 0 80px;
}
.fa-resume-bullet-details{
  flex-grow: 1;
  width: 600px;
  overflow: hidden;
  padding: 0 80px 0 0;
}
.resume-details-carousal{
  transform: translateY(0px);
  animation: 1s linear 0s alternate animating-multiple-properties;
}
@keyframes animating-multiple-properties {
  from {
    transform: translateY(30vh);
  }
  to {
    transform: translateY(0);
  }
}
.resume-screen-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 140px;
  width: 100%;
}
.resume-screen-container-workHistory{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 360px;
  width: 100%;
}
.fa-resume-screen-container-workHistory{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
  direction:ltr;
}
.resume-screen-container-project{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 360px;
  width: 100%;
}
.fa-resume-screen-container-project{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 140px;
  width: 100%;
  direction:ltr;
}
.fa-resume-screen-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 140px;
  width: 100%;
  direction:ltr;
}
.resume-heading{
  display: flex;
  flex-direction: column;
}
.resume-main-heading{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.heading-bullet{
  position: absolute;
  left: -30px;
  height: 15px;
  width: 15px;
  top: 5px;
  border-radius: 50%;
  background-color: #D13400;
}
.heading-date{
  background-color: #D13400;
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 14px;
  color: var(--white);
}
.resume-sub-heading{
  font-size: 14px;
  font-family: "Poppins SemiBold";
  color: var(--black);
  margin: 10px 0 0;
}
.fa-resume-sub-heading{
  font-size: 14px;
  font-family: "Poppins SemiBold";
  color: var(--black);
  margin: 10px 0 0;
  text-align: right;
}
.resume-heading-description{
  font-size: 12px;
  text-align: justify;
}
.experience-description{
  max-width: 100%;
  margin: 10px 0 0;
  text-align: justify;
}
.resume-description-text{
  font-size: 12px;    
}
.programming-skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}
.skill-parent .heading-bullet{
  position: absolute;
  left: -30px;
  height: 15px;
  width: 15px;
  top: 5px;
  border-radius: 50%;
  background-color: #D13400;
}
.skill-parent span {
  font-family: "Poppins Bold";
  font-size: 16px;
  color: #D13400;
}
.skill-percentage {
  position: relative;
  height: 15px;
  width: 70%;
  background-color: #D13400;
}
.active-percentage-bar{
  height: 15px;
  transition: .8s ease;
  position: absolute;
  background-color: #1f2235;
}
.resume-main-heading span{
  color: var(--dark-orange);
  font-size: 16px;
  font-family: "Poppins SemiBold";
}


@media screen and (max-width: 1045px) {
  .resume-content .resume-card{
    display: contents;
  }
  .resume-card .resume-bullets {
    width: auto;
  }
  .resume-bullet-details {
    width: 500px;
    padding: 45px 0px 0 0;
  }
  .fa-resume-bullet-details{
    width: 500px;
    padding: 45px 0px 0 0;
  }
}
@media screen and (max-width: 520px) {
  .resume-bullet-details {
    width: 350px;
    padding: 45px 0px 0 0;
  }
  .fa-resume-bullet-details{
    width: 350px;
    padding: 45px 0px 0 0;
  }
  .heading-date {
    padding: 8px 5px;
    font-size: 13px;
    border-radius: 14px;
  }
  .resume-main-heading span {
    font-size: 14px;
  }
  .resume-sub-heading {
    font-size: 14px;
    margin: 5px 0 0;
  }
  .skill-parent {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .resume-bullet-details {
    width: 300px;
    padding:45px 0px 0 10px;
  }
  .fa-resume-bullet-details{
    width: 300px;
    padding: 45px 0px 0 0;
  }
  .heading-date {
    padding: 8px 5px;
    font-size: 10px;
    border-radius: 14px;
  }
  .resume-main-heading span {
    font-size: 12px;
  }
  .resume-sub-heading {
    font-size: 12px;
    margin: 5px 0 0;
  }
  .skill-parent {
    width: 100%;
  }
}